.music-list-container {
    width: 80%;
    height: 100%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content{
	flex: 1;
    display: flex;
}

.content_list{
    flex: 1;
	overflow: auto;
}
.content_list li{
	list-style: none;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-sizing: border-box;
	user-select: none;
}
.content_list li div{
	float: left;
	color: rgba(255,255,255,0.5);
	line-height: 50px;
}
.list_check{
	width: 50px;
	height: 100%;
	text-align: center;
}
.list_check_input{
	display: inline-block;
	opacity: 0.5;
}
.list_check_input2{
	display: inline-block;
	opacity: 1;
}
.list_number{
	width: 20px;
	height: 100%;
}
.list_number2{
	color: transparent !important;
	/* background: url(../img/wave.gif) no-repeat 0 center; */
}
.list_name{
	width: 50%;
	height: 100%;
}
.list_name .list_menu{
	float: right;
	margin-right: 20px;
	display: none;
}
.list_menu a{
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #fff;
	border-radius: 100px;
	text-align: center;
	line-height: 36px;
	color: wheat;
	opacity: 0.5;
}
.list_menu a:hover{
	opacity: 1;
}
.list_singer{
	width: 20%;
	height: 100%;
}
.list_time a{
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 1px solid #fff;
	border-radius: 100px;
	text-align: center;
	line-height: 36px;
	float: left;
	margin-top: 5px;
	display: none;
	color: #fff;
	opacity: 0.5;
}
.list_time a:hover{
	opacity: 1;
}
.content_right{
	float: right;
	width: 400px;
	height: 460px;
	user-select: none;
}
.song_info{
	text-align: center;
	color: rgba(255,255,255,0.5);
	line-height: 30px;
}
.song_info .song_info_pic{
	display: inline-block;
	width: 201px;
	height: 180px;
}
.song_info div a{
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
}
.song_info div a:hover{
	opacity: 1;
}
.song_lyric_container{
	margin-top: 30px;
	height: 150px;
	overflow: hidden;
}
.content_right .song_lyric{
	text-align: center;

}
.content_right .song_lyric li{
	list-style: none;
	line-height: 30px;
	font-weight: bold;
	color: rgba(255,255,255,0.5);
}
.content_right .song_lyric .cur{
	color: #31c27c;
}


/* 设置滚动条宽度 */

._mCS_1 .mCSB_scrollTools .mCSB_dragger_bar{
	width: 8px;
}

/********************* 尾部样式 *************************/
footer{
	width: 100%;
	height: 60px;
	margin-top: 50px;
}
footer .footer_in{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	user-select: none;
}
.footer_in a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin-right: 20px;

}
.footer_in i{
	font-size: 20px;
}
.footer_in .music_pre{
	width: 19px;
	height: 20px;
}
.footer_in .music_play{
	width: 21px;
	height: 29px;
}
.footer_in .music_next{
	width: 19px;
	height: 20px;
}
.footer_in .music_progress_info{
	display: inline-block;
	width: 670px;
	height: 40px;
	position: relative;
	top: 10px;
}
.music_progress_info .music_progress_top{
	width: 100%;
	height: 30px;
	color: #fff;
	line-height: 30px;
}
.music_progress_top .music_progress_name{
	float: left;
	opacity: 0.5;
}
.music_progress_top .music_progress_name:hover{
	opacity: 1;
}
.music_progress_top .music_progress_time{
	float: right;
	opacity: 0.5;
}
.music_progress_info .music_progress_bar{
	width: 100%;
	height: 4px;
	background-color: rgba(255,255,255,0.5);
	margin-top: 5px;
	position: relative;
}
.music_progress_bar .music_progress_line{
	width: 0px;
	height: 100%;
	background-color: #fff;
}
.music_progress_line .music_progress_dot{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: -5px;
	left: 0px;
}
.footer_in .music_mode{
	width: 26px;
	height: 25px;
}
.footer_in .music_fav{
	width: 24px;
	height: 21px;
}
.footer_in .music_down{
	width: 22px;
	height: 21px;
}
.footer_in .music_comment{
	width: 24px;
	height: 24px;
}
.footer_in .music_only{
	width: 74px;
	height: 27px;
}
.footer_in .music_voice_info{
	display: inline-block;
	width: 100px;
	/* height: 40px; */
	text-align: center;
	position: relative;
	/* top: 10px; */
}
.music_voice_info .music_voice_icon{
	width: 26px;
	height: 21px;
	position: absolute;
	top: 10px;
	left: 0px;
}
.music_voice_info .music_voice_bar{
	width: 70px;
	height: 4px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	right: 0;
	top: 18px;
}
.music_voice_bar .music_voice_line{
	width: 70px;
	height: 100%;
	background-color: #fff;
}
.music_voice_line .music_voice_dot{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;
	position: relative;
	top: -5px;
	left: 70px;
}
.mask_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* background: url(../img/bg_1.jpg) no-repeat 0 0; */
	background-size: cover;
	filter: blur(100px);
	z-index: -2;
}
.mask{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
}
