<div class="music-list-container">
    <div class="content">
        <div class="content_list" data-mcs-theme="minimal-dark">
            <ul>
                <li class="list_title">
                    <div class="list_number"></div>
                    <div class="list_name">歌曲</div>
                    <div class="list_singer">歌手</div>
                    <div class="list_time">时长</div>
                </li>
            </ul>
        </div>
        <div class="content_right">
            <div class="song_info">
                <a href="javascript:;" class="song_info_pic">
                    <img src="img/lnj.jpg" alt="">
                </a>
                <div class="song_info_name">
                    歌曲名称:
                    <a href="javascript:;">纸短情长</a>
                </div>
                <div class="song_info_singer">
                    歌手名:
                    <a href="javascript:;">花粥</a>
                </div>
                <div class="song_info_ablum">
                    专辑名:
                    <a href="javascript:;">纸短情长</a>
                </div>
            </div>
            <div class="song_lyric_container">
                <ul class="song_lyric">
                </ul>
            </div>

        </div>
    </div>
    <footer>
        <div class="footer_in">
            <a href="javascript:;" class="music_pre"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
            <a href="javascript:;" class="music_play"><i class="music_play2 fa fa-play" aria-hidden="true"></i></a>
            <a href="javascript:;" class="music_next"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
            <div class="music_progress_info">
                <div class="music_progress_top">
                    <span class="music_progress_name">纸短情长 / 花粥</span>
                    <span class="music_progress_time">00:00 / 04:21</span>
                </div>
                <div class="music_progress_bar">
                    <div class="music_progress_line">
                        <div class="music_progress_dot"></div>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="music_mode"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="music_fav"><i class="fa fa-heart "></i></a>
            <a href="javascript:;" class="music_down"><i class="fa fa-download"></i></a>
            <a href="javascript:;" class="music_comment"><i class="fa fa-commenting-o"></i></a>
            <a href="javascript:;" class="music_only"><i class="fa fa-toggle-off"></i></a>
            <div class="music_voice_info">
                <a href="javascript:;"><i class="music_voice_icon fa fa-volume-up "></i></a>
                <div class="music_voice_bar">
                    <div class="music_voice_line">
                        <div class="music_voice_dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="mask_bg"></div>
<div class="mask"></div>
<audio src=""></audio>
